/*==================================================================
    #quality .lead
===================================================================*/
#quality .lead {
    padding: 20px 0 0;
    @include mq() {
        padding: 0;
    }
    &_img {
        img {
            width: 100%;
        }
    }
    &_txt {
        padding: 110px 0;
        @include mq() {
            padding: 50px 0 80px;
        }
    }
    &_inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        @include mq() {
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        .txt {
            width: 440px;
            @include mq() {
                width: 100%;
                margin-bottom: 50px;
            }
            .ttl {
                font-size: 2.4rem;
                letter-spacing: 0.05em;
                line-height: 2;
                margin-bottom: 1em;
                @include mq() {
                    font-size: 2.1rem;
                    line-height: 1.3;
                    margin-bottom: 1.5em;
                }
            }
            p {
                font-size: 1.6rem;
                line-height: 1.75;
            }
        }
        .img {
            width: 166px;
            @include mq() {
                width: 130px;
            }
            img {
                width: 100%;
            }
        }
    }
}

/*==================================================================
    #quality .brand
===================================================================*/
#quality .brand {
    padding: 0 0 540px;
    background-image: url(../img/quality/brand_bg_01.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    @include mq() {
        padding: 0 0 240px;
        background-image: url(../img/quality/sp/brand_bg_01.png);
        background-size: 375px auto;
    }
    &_inner {
        .ttl {
            font-size: 1.6rem;
            line-height: 1.3;
            text-align: center;
            position: relative;
            padding-bottom: 1em;
            margin-bottom: 2em;
            letter-spacing: 0.05em;
            em {
                display: block;
                font-size: 3.6rem;
                font-family: $font1;
                font-weight: 500;
                letter-spacing: normal;
            }
            &::before {
                display: block;
                content: "";
                width: 25px;
                height: 1px;
                background-color: $w;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -12px;
            }
        }
        .list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            @include mq() {
                flex-flow: column nowrap;
                align-items: center;
            }
        }
        .item {
            padding: 0 35px;
            border-right: solid 1px rgba($color: $w, $alpha: 0.4);
            @include mq() {
                min-width: 250px;
                padding: 0 0 30px;
                margin-bottom: 30px;
                border-right: none;
                border-bottom: solid 1px rgba($color: $w, $alpha: 0.4);
            }
            &:last-child {
                border-right: none;
                @include mq() {
                    border-bottom: none;
                    padding: 0;
                    margin: 0;
                }
            }
            dl {
                text-align: center;
                letter-spacing: 0.05em;
                dt {
                    font-size: 2.4rem;
                    margin-bottom: 0.6em;
                    @include mq() {
                        font-size: 2.1rem;
                    }
                }
                dd {
                    font-size: 1.6rem;
                    line-height: 1.5;
                    @include mq() {
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}
